@model OSS.Models.SurveySystemModels.Answer

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Answer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SurveyId" />
            <input type="hidden" asp-for="QuestionId" />
            <div class="form-group">
                <label asp-for="QuestionAnswerId" class="control-label"></label>
                <select asp-for="QuestionAnswerId" class="form-control" asp-items="ViewBag.QuestionAnswerId"></select>
                <span asp-validation-for="QuestionAnswerId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="StudentId" />
            <input type="hidden" asp-for="LecturerId" />
            <input type="hidden" asp-for="SubjectId" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
