@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="jumbotron">
        <h2>Best lecturer survey</h2>
    </div>

</div>

<div class="row">
    <div class="col-md-4">
        <p>faculty</p>
        <p>specialty</p>
        <p>lecturer</p>
        <p>subject</p>
    </div>

    <div class="col-md-8">
        <p>questions</p>
        @*@await Html.PartialAsync("QuestionListPartial")*@
    </div>
</div>

