@model OSS.Models.SurveySystemModels.ViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="jumbotron marginTop">
        <h2>Best lecturer survey</h2>
    </div>

</div>
@section scripts{
    <script src="~/js/GetSpecialties.js"></script>
    <script src="~/js/GetSubjects.js"></script>
}

<form asp-action="SurveySubmit" asp-controller="Home" asp-antiforgery="true">
    <div class="row">
        <div class="col-md-4">

            <div class="form-group">
                <label class="control-label">Faculty</label>
                <select asp-for="FacultyId" class="form-control" asp-items="Model.Faculties" required></select>
                <span asp-validation-for="FacultyId"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Specialty</label>
                <select asp-for="SpecialtyId" class="form-control" asp-items="Model.AvailableSpecialties" required></select>
                <span asp-validation-for="SpecialtyId"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Gender</label>
                <input asp-for="Gender" type="radio" value="Male" required />M
                <input asp-for="Gender" type="radio" value="Female" required />F
                <span asp-validation-for="Gender"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Lecturer</label>
                <select asp-for="LecturerId" class="form-control" asp-items="Model.Lecturers" required></select>
                <span asp-validation-for="LecturerId"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Subject</label>
                <select asp-for="SubjectId" class="form-control" asp-items="Model.Subjects" required></select>
                <span asp-validation-for="SubjectId"></span>
            </div>
            <input asp-for="SurveyId" type="hidden" value="@ViewBag.SurveyId" />

        </div>

        <div class="col-md-8">

            @foreach (var q in ViewBag.Questions as IEnumerable<OSS.Models.SurveySystemModels.Question>)
            {
                <p>@q.Text</p>
                @for (var i = 1; i <= 12; i++)
                {
                    <input name="@q.QuestionId" type="radio" value="@i" required />
                }
            }
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-default marginTop" />
            </div>

        </div>
    </div>
</form>