@model OSS.Models.SurveySystemModels.Student
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="jumbotron">
        <h2>Best lecturer survey</h2>
    </div>

</div>
<form asp-action="SurveySubmit" asp-controller="Home" asp-antiforgery="true">
    <div class="row">
        <div class="col-md-4">

            <div class="form-group">
                <label class="control-label">Faculty</label>
                <select class="form-control" asp-items="ViewBag.Faculties"></select>
            </div>

            <div class="form-group">
                <label class="control-label">Specialty</label>
                <select asp-for="SpecialtyId" class="form-control" asp-items="ViewBag.Specialties"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Lecturer</label>
                <select asp-for="SpecialtyId" class="form-control" asp-items="ViewBag.Lecturers"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Subject</label>
                <select asp-for="SpecialtyId" class="form-control" asp-items="ViewBag.Subjects"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default marginTop" />
            </div>

        </div>

        <div class="col-md-8">
            <p>questions</p>
            @*@await Html.PartialAsync("QuestionListPartial")*@
        </div>
    </div>
</form>
